# dependencies
node_modules/

# next.js (prototype-nextjs/)
.next/
out/
next-env.d.ts
*.tsbuildinfo

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel
